<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Kits</title>
</head>
<body>
<h1>Lista de Kits</h1>

<table border="1" th:if="${!kits.isEmpty()}">
    <tr><td>Tipo</td><td colspan="2">Acao</td></tr>
    <tr th:each="kit : ${kits}">
        <td th:text="${kit.nome}">Nome</td>
        <td th:text="${kit.tipo}">Tipo</td>
        <td th:text="${kit.descricao}">Descrição</td>
        <td><a th:href="@{'/kit/edit/' + ${kit.id}}" >Editar</a></td>
        <td><a th:href="@{'/kit/delete/' + ${kit.id}}">Excluir</a></td>
    </tr>
</table>
<h2 th:unless="${!kits.isEmpty()}">Sem Kits</h2>

<a th:href="@{'~/kit/add/'}">Adicionar</a>
</body>
</html>