<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Administrador</title>
</head>
<body>

<h1 th:text="${tittle}"> Operação </h1>
<form th:object="${administrator}" method="post">
    <table border="1">
        <tr>
            <td>Nome completo:</td>
            <td><input th:value="${administrator?.name}" type="text" name="name" th:disabled="${operation} == excluir"/></td>
        </tr>
        <tr>
            <td>E-mail:</td>
            <td><input th:value="${administrator?.email}" type="text" name="email" th:disabled="${operation} == excluir"/></td>
        </tr>
        <tr>
            <td>RG:</td>
            <td><input th:value="${administrator?.rg}" type="text" name="rg" th:disabled="${operation} == excluir"/></td>
        </tr>
        <tr>
            <td>CPF:</td>
            <td><input th:value="${administrator?.cpf}" type="text" name="cpf" th:disabled="${operation} == excluir"/></td>
        </tr>
        <tr>
            <td>Sexo:</td>
            <td><input th:value="${administrator?.sex}" type="text" name="sex" th:disabled="${operation} == excluir"/></td>
        </tr>
        <tr>
            <td>Data de nascimento:</td>
            <td><input th:value="${administrator?.birthDate}" type="text" name="birthDate" th:disabled="${operation} == excluir"/></td>
        </tr>
        <tr>
            <td>Login:</td>
            <td><input th:value="${administrator?.login}" type="text" name="login" th:disabled="${operation} == excluir"/></td>
        </tr>
        <tr>
            <td>Senha:</td>
            <td><input th:value="${administrator?.password}" type="text" name="password" th:disabled="${operation} == excluir"/></td>
        </tr>
        <tr>
            <td>Autenticação secundária:</td>
            <td><input th:value="${administrator?.secondaryAuth}" type="text" name="secondaryAuth" th:disabled="${operation} == excluir"/></td>
        </tr>
        <tr>
            <td><input type="submit" th:value="${botaoOperacao}"/></td>
        </tr>
    </table>
</form>
</body>
</html>