<head th:replace="fragments/head:: head"></head>
<navbar th:replace="fragments/anon/navbar :: navbar"></navbar>
<h1>Lista de Administradores</h1>

<table class="table table-striped" th:if="${!administrators.isEmpty()}">
    <thead>
    <tr>
        <th scope="col">Nome</th>
        <th scope="col">E-mail</th>
        <th scope="col">Ação</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="administrator : ${administrators}">
        <td th:text="${administrator.name}">Nome</td>
        <td th:text="${administrator.type}">E-mail</td>
        <td><a th:href="@{'/administrator/edit/' + ${administrator.id}}" >Editar</a> || <a th:href="@{'/administrator/delete/' + ${administrator.id}}">Excluir</a></td>
    </tr>
    </tbody>
</table>
<center>
    <h2 th:unless="${!administrators.isEmpty()}">Sem Administradores</h2>
    <a class="text-center" th:href="@{'~/administrator/add/'}"><button type="button" class="btn btn-primary" th:href="@{'~/administrator/add/'}">Adicionar</button></a>
    <a class="text-center" th:href="@{'~/'}"><button type="button" class="btn btn-secondary" th:href="@{'~/administrator/add/'}">Página Inicial</button></a></center>
</center>
<footer th:replace="fragments/footer :: footer"></footer>