<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navbarRunner">
    <a class="navbar-brand" th:th:href="@{'~/@{'~/'}">SCCR</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li>
                <a th:href="@{'~/'}">Página Inicial</a>
            </li>
            <li>
                <a class="nav-link active" th:href="race">Corridas<span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a class="nav-link active" th:href="ranking">Rankings<span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a class="nav-link active" th:href="kit">Kits<span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>