<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navbar">
    <a class="navbar-brand" th:href="@{'~/'}">TonhãoRunner</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="administrator">Administradores<span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a class="nav-link active" href="runner">Corredores<span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a class="nav-link active" th:href="@{'~/admin/race'}">Corridas
                    <span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a class="nav-link active" th:href="@{'~/admin/kit'}">Kits<span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a class="nav-link active" th:href="@{'~/admin/lot'}">Lotes<span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a class="nav-link active" th:href="@{'~/admin/product'}">Produtos
                    <span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a class="nav-link active" th:href="@{'~/admin/ranking'}">Rankings
                    <span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a class="nav-link active" th:href="@{'~/admin/routes'}">Percursos
                    <span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a class="nav-link active" th:href="@{'~/admin/rules'}">Regras<span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>