<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Percurso</title>
</head>
<body>

<h1 th:text="${tittle}"> Operação </h1>
<form th:object="${route}" method="post">
    <table border="1">
        <tr>
            <td>Nome:</td>
            <td><input th:value="${route?.name}" type="text" name="name" th:disabled="${operation} == excluir"/></td>
        </tr>
        <tr>
            <td>Quilometragem máxima:</td>
            <td><input th:value="${route?.maxLength}" type="text" name="maxLength" th:disabled="${operation} == excluir"/></td>
        </tr>
        <tr>
            <td>CEP da largada:</td>
            <td><input th:value="${route?.startCep}" type="text" name="startCep" th:disabled="${operation} == excluir"/></td>
        </tr>
        <tr>
            <td>Informações da largada:</td>
            <td><input th:value="${route?.startInfo}" type="text" name="startInfo" th:disabled="${operation} == excluir"/></td>
        </tr>
        <tr>
            <td>CEP da chegada:</td>
            <td><input th:value="${route?.finalCep}" type="text" name="finalCep" th:disabled="${operation} == excluir"/></td>
        </tr>
        <tr>
            <td>Informações da chegada:</td>
            <td><input th:value="${route?.finalInfo}" type="text" name="finalInfo" th:disabled="${operation} == excluir"/></td>
        </tr>
        <tr>
            <td>Pontuação:</td>
            <td><input th:value="${route?.points}" type="text" name="points" th:disabled="${operation} == excluir"/></td>
        </tr>
        <tr>
            <td><input type="submit" th:value="${botaoOperacao}"/></td>
        </tr>
    </table>
</form>
</body>
</html>