<head th:replace="fragments/head:: head"></head>
<navbar th:replace="fragments/anon/navbar :: navbar"></navbar>
<h1 th:text="${title}" class="text-center"></h1>
<div class="container">
    <div class="row">
        <div class="col-sm">
        </div>
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col col-lg-2">
                </div>
                <div class="col-md-auto">
                    <form th:object="${lot}" id="formRanking" method="post">
                        <div class="form-group row">
                            <label class="col-form-label">Descrição:</label>
                            <div class="col-sm-8">
                                <textarea form="formRanking" rows="3" th:value="${rule?.description}" type="text"
                                          name="description" class="form-control" th:text="${rule?.description}"
                                          th:disabled="${operation} == delete"></textarea>
                            </div>
                        </div>
                        <div class="text-center">
                            <input type="submit" class="btn btn-primary" th:value="${botaoOperacao}">
                            <a th:href="@{'~/admin/rule/'}">
                                <button type="button" class="btn btn-secondary">Voltar</button>
                            </a>
                        </div>
                    </form>
                </div>
                <div class="col col-lg-2">
                </div>
            </div>
        </div>
        <div class="col-sm">
        </div>
    </div>
</div>
<footer th:replace="fragments/footer :: footer"></footer>