<head th:replace="fragments/head:: head"></head>
<navbar th:replace="fragments/anon/navbar :: navbar"></navbar>
<h1 class="text-center">Lista de Regras</h1>

<table class="table table-striped" th:if="${!rules.isEmpty()}">
    <thead>
    <tr>
        <th scope="col">Descrição</th>
        <th scope="col">Editar</th>
        <th scope="col">Excluir</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="rule : ${rules}">
        <td th:text="${rule.description}">Descrição</td>
        <td><a th:href="@{'~/admin/rule/edit/' + ${rule.id}}"><i class="fa fa-pen"></i></a></td>
        <td><a th:href="@{'~/admin/rule/delete/' + ${rule.id}}"><i class="fas fa-trash"></i></a></td>
    </tr>
    </tbody>
</table>
<div class="text-center">
    <h2 th:unless="${!rules.isEmpty()}">Sem Regras</h2>
    <a class="text-center" th:href="@{'~/admin/rule/add/'}">
        <button type="button" class="btn btn-primary" th:href="@{'~/admin/rule/add/'}">Adicionar</button>
    </a>
    <a class="text-center" th:href="@{'~/'}">
        <button type="button" class="btn btn-secondary">Página Inicial</button>
    </a>
    <a class="text-center" th:href="@{'~/admin/ruleReport/rule'}">
        <button type="button" class="btn btn-secondary" th:href="@{'~/admin/ruleReport/rule'}">Gerar Relatório</button>
    </a>
</div>
<footer th:replace="fragments/footer :: footer"></footer>