<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Percurso</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{'~/'}">SCCR</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/administrator/">Administradores<span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a class="nav-link active" href="/runner/">Corredores<span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a class="nav-link active" href="/race/">Corridas<span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a class="nav-link active" href="/kit/">Kits<span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a class="nav-link active" href="/lot/">Lotes<span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a class="nav-link active" href="/product/">Produtos<span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a class="nav-link active" href="/ranking/">Rankings<span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a class="nav-link active" href="/route/">Percursos<span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a class="nav-link active" href="/rule/">Regras<span class="sr-only">(current)</span></a>
            </li>

    </div>
</nav>
<center><h1 th:text="${tittle}"> Operação </h1></center>
<center><form th:object="${route}" method="post">
    <table>
        <tr>
            <td>Nome:</td>
            <td><input th:value="${route?.name}" type="text" name="name" class="form-control" th:disabled="${operation} == excluir"/></td>
        </tr>
        <tr>
            <td>Quilometragem máxima:</td>
            <td><input th:value="${route?.maxLength}" type="text" name="maxLength" class="form-control" th:disabled="${operation} == excluir"/></td>
        </tr>
        <tr>
            <td>CEP da largada:</td>
            <td><input th:value="${route?.startCep}" type="text" name="startCep" class="form-control" th:disabled="${operation} == excluir"/></td>
        </tr>
        <tr>
            <td>Informações da largada:</td>
            <td><input th:value="${route?.startInfo}" type="text" name="startInfo" class="form-control" th:disabled="${operation} == excluir"/></td>
        </tr>
        <tr>
            <td>CEP da chegada:</td>
            <td><input th:value="${route?.finalCep}" type="text" name="finalCep" class="form-control" th:disabled="${operation} == excluir"/></td>
        </tr>
        <tr>
            <td>Informações da chegada:</td>
            <td><input th:value="${route?.finalInfo}" type="text" name="finalInfo" class="form-control" th:disabled="${operation} == excluir"/></td>
        </tr>
        <tr>
            <td>Pontuação:</td>
            <td><input th:value="${route?.points}" type="text" name="points" class="form-control" th:disabled="${operation} == excluir"/></td>
        </tr>
        <tr>
            <td>Descrição:</td>
            <td><input th:value="${route?.description}" type="text" name="description" class="form-control" th:disabled="${operation} == excluir"/></td>
        </tr>
        <tr>
            <td>Corrida:</td>
            <td>
                <select class="form-control" th:disabled="${operation} == excluir" name="route">
                    <option th:if="${corridas} != null" th:each="corrida : ${corridas}" th:value="${corrida.id}"
                            th:text="${corrida.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td><input type="submit" th:value="${botaoOperacao}"/></td>
            <td><a href="/route/">Voltar</a></td>
        </tr>
    </table>
</form></center>
</body>
</html>