<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Percursos</title>
</head>
<body>
<h1>Lista de Percursos</h1>

<table border="1" th:if="${!routes.isEmpty()}">
    <tr><td>Nome</td><td>Distancia</td><td>Descricao</td><td colspan="2">Acao</td></tr>
    <tr th:each="route : ${routes}">
        <td th:text="${route.name}">Nome</td>
        <td th:text="${route.maxLength}">Quilometragem máxima</td>
        <td th:text="${route.description}">Descrição</td>
        <td><a th:href="@{'/route/edit/' + ${route.id}}" >Editar</a></td>
        <td><a th:href="@{'/route/delete/' + ${route.id}}">Excluir</a></td>
    </tr>
</table>
<h2 th:unless="${!routes.isEmpty()}">Sem Percursos</h2>

<a th:href="@{'~/route/add/'}">Adicionar</a>
</body>
</html>