<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rotas</title>
</head>
<body>
<h1 th:text="${tittle}">
    Operation
</h1>

<form method="post" th:object="${route}">
    <label>
        <b>Nome:</b>
    </label>
    <input th:value="${route.name}" th:disabled="${operation} == delete" type="text" name="name"/><
    <label>
        <b>Distancia (em KM):</b>
    </label>
    <input th:value="${route.maxLength}" th:disabled="${operation} == delete" type="text" name="maxLength"/>
    <label>
        <b>Email:</b>
    </label>
    <input th:value="${route.email}" th:disabled="${operation} == delete" type="text" name="email"/>
    <label>
        <b>Senha:</b>
    </label>
    <input th:value="${runner?.password}" th:disabled="${operation} == delete" type="text" name="password"/>
    <label>
        <b>Confirmar senha:</b>
    </label>
    <input th:value="${runner?.confirmPassword}" th:disabled="${operation} == delete" type="text" name="confirmPassword"/>
    <label>
        <b>CPF:</b>
    </label>
    <input th:value="${runner?.cpf}" th:disabled="${operation} == delete" type="text" name="cpf"/>
    <label>
        <b>RG:</b>
    </label>
    <input th:value="${runner?.rg}" th:disabled="${operation} == delete" type="text" name="rg"/>
    <label>
        <b>Data de nascimento:</b>
    </label>
    <input th:value="${runner?.birthDate}" th:disabled="${operation} == delete" type="text" name="birthDate"/>
    <label>
        <b>Sexo:</b>
    </label>
    <input th:value="${runner?.sex}" th:disabled="${operation} == delete" type="text" name="sex"/>

    <input type="submit" th:value="${botaoOperacao}"/>
</form>

</body>
</html>