<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rotas</title>
</head>
<body>
<h1>
    Listar rotas
</h1>

<table>
    <tr th:each="route : ${route}">
        <td th:text="${route.name}">nome</td>
        <td th:text="${route.maxLength}">Email</td>
        <td><a th:href="@{'/runner/edit/' + ${route.id}}">Editar</a></td>
        <td><a th:href="@{'/runner/delete/' + ${route.id}}">Excluir</a></td>
    </tr>
</table>
<h2 th:unless="${!route.isEmpty()}">Sem corredores</h2>

<a th:href="@{~/route/add}">Adicionar</a>

</body>
</html>