<head th:replace="fragments/head:: head"></head>
<navbar th:replace="fragments/anon/navbar :: navbar"></navbar>

<main class="pa4 black-80">
    <form class="measure center text-center form-signin" th:object="${admin}" method="post">
        <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
            <legend class="f4 fw6 ph0 mh0">Área administrativa</legend>
            <div class="mt3">
                <label class="db fw6 lh-copy f6" for="email-address">Login</label>
                <input class="pa2 input-reset ba b--black-20 bg-transparent hover-bg-black w-100"
                       name="login" id="email-address">
            </div>
            <div class="mv3">
                <label class="db fw6 lh-copy f6" for="password">Senha</label>
                <input class="b pa2 input-reset ba b--black-20 bg-transparent hover-bg-black w-100" type="password"
                       name="password" id="password">
            </div>
        </fieldset>
        <input class="b ph3 pv2 input-reset ba b--black-40 bg-transparent grow pointer f6 dib" type="submit"
               value="Sign in">
        <div class="lh-copy mt3">
            <a th:href="@{'~/auth/admin/register'}" class="f6 link dim black db pointer">Registrar</a>
        </div>
        <div class="lh-copy mt3">
            <span class="f6 link dim black db">Esqueceu a senha? Já era</span>
        </div>
    </form>
</main>


