<head th:replace="fragments/head:: head"></head>
<navbar th:replace="fragments/anon/navbar :: navbar"></navbar>
<body class="bg-black-10">
<div class="text-center mt5">
    <h1 class="mb-3 font-weight-normal"><strong>Identifique-se</strong>,
        <small>corredor</small>
    </h1>
    <br/>
    <form th:object="${runner}" method="post" class="form-signin">
        <span id="lblMsg"></span>
        <label for="txtUser" class="sr-only">
            <b>Email:
            </b>
        </label>
        <input name="txtUser" th:value="${runner?.email}" type="text" id="txtUser" class="form-control"
               placeholder="Email" required=""/>
        <br>
        <label for="txtPwd" class="sr-only">
            <b>Senha:
            </b>
        </label>
        <input name="txtPwd" th:value="${runner?.password}" type="password" id="txtPwd" class="form-control"
               placeholder="Senha" required=""/>
        <input type="submit" value="Entrar" class="btn btn-lg btn-outline-primary btn-block"/>
        <p class="mt-5 mb-3 text-muted">&copy; Sistema JabaRunner - 2018</p>
    </form>
</div>


