<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Corrida</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{'~/'}">SCCR</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/administrator/">Administradores<span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a class="nav-link active" href="/runner/">Corredores<span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a class="nav-link active" href="/race/">Corridas<span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a class="nav-link active" href="/kit/">Kits<span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a class="nav-link active" href="/lot/">Lotes<span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a class="nav-link active" href="/product/">Produtos<span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a class="nav-link active" href="/ranking/">Rankings<span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a class="nav-link active" href="/route/">Percursos<span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a class="nav-link active" href="/rule/">Regras<span class="sr-only">(current)</span></a>
            </li>

    </div>
</nav>
<center><h1 th:text="${tittle}"> Operação </h1></center>
<center><form th:object="${race}" method="post">
    <table>
        <tr>
            <td>Nome:</td>
            <td><input th:value="${race?.name}" type="text" name="name" class="form-control" th:disabled="${operation} == excluir"/>
        </tr>
        <tr>
            <td>Data:</td>
            <td><input th:value="${race?.data}" type="date" name="data" class="form-control" th:disabled="${operation} == excluir"/>
        </tr>
        <tr>
            <td>Valor:</td>
            <td><input th:value="${race?.value}" type="text" name="value" class="form-control" th:disabled="${operation} == excluir"/>
        </tr>
        <tr>
            <td>Máximo de inscritos:</td>
            <td><input th:value="${race?.maxSubscribes}" type="text" name="maxSubscribes"
                       class="form-control" th:disabled="${operation} == excluir"/>
        </tr>

        <tr>
            <td>Kilometragem:</td>
            <td><input th:value="${race?.maxLength}" type="text" name="maxLength"
                       class="form-control" th:disabled="${operation} == excluir"/>
        </tr>

        <tr>
            <td>Organizador:</td>
            <td><input th:value="${race?.organizer}" type="text" name="organizer"
                       class="form-control" th:disabled="${operation} == excluir"/>
        </tr>

        <tr>
            <td>Tipo de chip:</td>
            <td><select th:value="${race?.tipoChip}" name="tipoChip" class="form-control" th:disabled="${operation} == excluir">
                <option value="retornavel">Retornável</option>
                <option value="descartavel">Descartável</option>
            </select></td>
        </tr>
        <tr>
            <td>Descrição:</td>
            <td><input th:value="${race?.descricao}" type="text" name="descricao"
                       class="form-control" th:disabled="${operation} == excluir"/><br></td>
        </tr>
        <tr>
            <td>Cidade:</td>
            <td><input th:value="${race?.city}" type="text" name="city" class="form-control" th:disabled="${operation} == excluir"/></td>
        </tr>
        <tr>
            <td>Estado:</td>
            <td><input th:value="${race?.state}" type="text" name="state" class="form-control" th:disabled="${operation} == excluir"/></td>
        </tr>
        <tr>
            <td>Região:</td>
            <td><input th:value="${race?.region}" type="text" name="regiao" class="form-control" th:disabled="${operation} == excluir"/>
            </td>
        </tr>
        <tr>
            <td>Hora inicial:</td>
            <td><input th:value="${race?.initialHour}" type="text" name="initialHour"
                       class="form-control" th:disabled="${operation} == excluir"/></td>
        </tr>

        <tr>
            <td>Cor:</td>
            <td><input th:value="${race?.cor}" type="color" name="cor" class="form-control" th:disabled="${operation} == excluir"></td>
        </tr>

        <tr>
            <td>Hora final:</td>
            <td><input th:value="${race?.finalHour}" type="text" name="finalHour"
                       class="form-control" th:disabled="${operation} == excluir"/></td>
        </tr>

        <tr>
            <td>Cep de largada:</td>
            <td><input th:value="${race?.startCep}" type="text" name="startCep"
                       class="form-control" th:disabled="${operation} == excluir"/></td>
        </tr>
        <tr>
            <td>Descrição largada:</td>
            <td><input th:value="${race?.descricaoLargada}" type="text" name="descricaoLargada"
                       class="form-control" th:disabled="${operation} == excluir"/></td>
        </tr>
        <tr>
            <td>Cep de chegada:</td>
            <td><input th:value="${race?.finalCep}" type="text" name="finalCep"
                       class="form-control" th:disabled="${operation} == excluir"/></td>
        </tr>
        <tr>
            <td>Descrição chegada:</td>
            <td><input th:value="${race?.descricaoChegada}" type="text" name="descricaoChegada"
                       class="form-control" th:disabled="${operation} == excluir"/></td>
        </tr>
        <tr>
            <td>Data de retirada do kit:</td>
            <td><input th:value="${race?.dataRetiradaKit}" type="text" name="dataRetiradaKit"
                       class="form-control" th:disabled="${operation} == excluir"/></td>
        </tr>
        <tr>
            <td><input type="submit" th:value="${botaoOperacao}"/></td>
            <td><a href="/race/">Voltar</a></td>
        </tr>
    </table>
</form></center>
</body>
</html>