<head th:replace="/fragments/head:: head"></head>
<navbar th:replace="/fragments/anon/navbar :: navbar"></navbar>
<h1 class="text-center">Lista de Corridas</h1>
<table class="table table-striped" th:if="${!races.isEmpty()}">
    <thead>
    <tr>
        <th scope="col">Nome</th>
        <th scope="col">Data</th>
        <th scope="col">Máximo de inscritos</th>
        <th scope="col">Organizador</th>
        <th scope="col">Editar</th>
        <th scope="col">Excluir</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="race : ${races}">
        <td th:text="${race.name}">Nome</td>
        <td th:text="${race.data}">Data</td>
        <td th:text="${race.subscribes}">Máximo de inscritos</td>
        <td th:text="${race.organizer}">Organizer</td>
        <td>
            <a th:href="@{'/race/edit/' + ${race.id}}"><i class="fas fa-pen"></i></a>
        </td>
        <td>
            <a th:href="@{'/race/delete/' + ${race.id}}"><i class="fas fa-trash"></i></a>
        </td>
    </tr>
    </tbody>
</table>
<h2 th:unless="${!races.isEmpty()}" class="text-center">Sem Corridas</h2>
<div class="text-center mt2">
    <a class="text-center" th:href="@{'~/race/add/'}">
        <button type="button" class="btn btn-primary" th:href="@{'~/race/add/'}">Adicionar</button>
    </a>
    <a class="text-center" th:href="@{'~/'}">
        <button type="button" class="btn btn-secondary" th:href="@{'~/race/add/'}">Página Inicial</button>
    </a>
</div>
<footer th:replace="fragments/footer :: footer"></footer>