<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Corridas</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{'~/'}">SCCR</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="administrator">Administradores<span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a class="nav-link active" href="runner">Corredores<span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a class="nav-link active" href="race">Corridas<span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a class="nav-link active" href="kit">Kits<span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a class="nav-link active" href="lot">Lotes<span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a class="nav-link active" href="product">Produtos<span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a class="nav-link active" href="ranking">Rankings<span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a class="nav-link active" href="route">Percursos<span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a class="nav-link active" href="rule">Regras<span class="sr-only">(current)</span></a>
            </li>

    </div>
</nav>
<center><h1>Lista de Corridas</h1></center>

<center><table border="1" th:if="${!races.isEmpty()}">
    <tr><td>Tipo</td><td colspan="2">Acao</td></tr>
    <tr th:each="race : ${races}">
        <td th:text="${race.name}">Nome</td>
        <td th:text="${race.data}">Data</td>
        <td th:text="${race.maxSubscribes}">Máximo de inscritos</td>
        <td><a th:href="@{'/race/edit/' + ${race.id}}" >Editar</a></td>
        <td><a th:href="@{'/race/delete/' + ${race.id}}">Excluir</a></td>
    </tr>
</table></center>
<center><h2 th:unless="${!races.isEmpty()}">Sem Corridas</h2></center>

<center><a th:href="@{'~/race/add/'}">Adicionar</a></center>
<center><td><a th:href="@{'~/'}">Página Inicial</a></td></center>
</body>
</html>