<head th:replace="fragments/head:: head"></head>
<navbar th:replace="fragments/anon/navbar :: navbar"></navbar>
<script>
    $(document).ready(function () {
        $(".form-wrapper #next").click(function () {
            var button = $(this);
            var currentSection = button.parents(".section");
            var currentSectionIndex = currentSection.index();
            var headerSection = $('.steps li').eq(currentSectionIndex);
            currentSection.removeClass("is-active").next().addClass("is-active");
            headerSection.removeClass("is-active").next().addClass("is-active");

            if (currentSectionIndex === 3) {
                $(document).find(".form-wrapper .section").first().addClass("is-active");
                $(document).find(".steps li").first().addClass("is-active");
            }
        });
    });
</script>
<style>
    .steps {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: #fff;
        text-align: center;
    }

    .steps li {
        display: inline-block;
        margin: 20px;
        color: #ccc;
        padding-bottom: 5px;
    }

    .steps li.is-active {
        border-bottom: 1px solid #3498db;
        color: #3498db;
    }

    .form-wrapper .section {
        opacity: 0;
        -webkit-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform: scale(1, 0);
        -webkit-transform-origin: top center;
        -moz-transform-origin: top center;
        -ms-transform-origin: top center;
        -o-transform-origin: top center;
        transform-origin: top center;
        -webkit-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        position: absolute;
    }

    .form-wrapper .section h3 {
        margin-bottom: 30px;
    }

    .form-wrapper .section.is-active {
        opacity: 1;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: scale(1, 1);
    }
</style>
<ul class="steps mt-5">
    <li class="is-active">Inscrição</li>
    <li>Pagamento</li>
</ul>
<form th:object="${payment}" method="POST" class="form-wrapper">
    <fieldset class="container-fluid section is-active">
        <div class="text-center">
            <h3 th:text="${race?.name}"></h3>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="card">
                        <img class="card-img-top" th:src="${race?.image}" alt="Card image cap">
                        <div class="card-body">
                            <div class="text-center">
                                <h3 class="card-title">Informações da Corrida</h3>
                            </div>
                            <label>
                                <b>Nome:</b> <span th:text="${race.name}"></span>
                            </label>
                            <br>
                            <label>
                                <b>Data:</b> <span th:text="${race.data}"></span>
                            </label>
                            <br>
                            <label>
                                <b>Hora inicial:</b> <span th:text="${race.initialHour}"></span></span>
                            </label>
                            <br>
                            <label>
                                <b>Hora de termino:</b> <span th:text="${race.finalHour}"></span>
                            </label>
                            <br>
                            <label>
                                <b>Preço:</b> <span th:text="${race.price}"></span>
                            </label>
                            <br>
                            <label>
                                <b>Organizador:</b> <span th:text="${race.organizer}"></span>
                            </label>
                            <label class="pt-2">
                                <b>Percurso:</b>
                            </label>
                            <select class="form-control">
                                <option th:if="${routes} != null" th:each="route : ${routes}" th:value="${route.id}"
                                        th:text="${route.name}"></option>
                            </select>
                            <label class="pt-2">
                                <b>Kit:</b>
                            </label>
                            <select class="form-control">
                                <option th:if="${kits} != null" th:each="kit : ${kits}" th:value="${kit.id}"
                                        th:text="${kit.name}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-8">
                    <div class="row">
                        <div class="col-md-12 pt-3">
                            <div class="text-center">
                                <h5 class="h5">Percursos disponíneis</h5>
                            </div>
                            <div class="row">
                                <div class="col-sm-4" th:if="${routes} != null" th:each="route : ${routes}">
                                    <div class="card border-info">
                                        <div class="card-header text-center" th:text="${route.name}"></div>
                                        <div class="card-body">
                                            <p class=card-text>Descrição:</p>
                                            <span th:text="${route.description}"></span>
                                            <p class=card-text>Distância:</p>
                                            <span th:text="${route.length}"></span>
                                            <p class=card-text>Informação da largada:</p>
                                            <span th:text="${route.startInfo}"></span>
                                            <p class=card-text>Informação da chegada:</p>
                                            <span th:text="${route.finalInfo}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 pt-3">
                            <div class="text-center">
                                <h5 class="h5">Kits disponíneis</h5>
                            </div>
                            <div class="row">
                                <div class="col-sm-4" th:if="${kits} != null" th:each="kit : ${kits}">
                                    <div class="card border-info">
                                        <div class="card-header text-center" th:text="${kit.name}"></div>
                                        <div class="card-body">
                                            <p class=card-text>Descrição:</p>
                                            <span th:text="${kit.description}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-md-12">
                <div class="text-center">
                    <input type="button" class="btn btn-outline-success" id="next" value="Prosseguir para pagamento">
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset class="section container-fluid">
        <div class="container-fluid w-75 mt-5">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab"
                       href="#nav-home" role="tab"
                       aria-controls="nav-home" aria-selected="true">Cartão de crédito</a>
                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                       aria-controls="nav-profile" aria-selected="false">Boleto</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="row mt-5">
                        <div class="col-sm-6">
                            <div class="container">
                                <form class="form-horizontal" role="form">
                                    <fieldset>
                                        <legend>Pagamento via crédito</legend>
                                        <div class="form-group">
                                            <label class="col-sm-12 control-label" for="card-holder-name">Titular do
                                                cartão</label>
                                            <div class="col-sm-12">
                                                <input required type="text" class="form-control" name="cardName"
                                                       id="card-holder-name" placeholder="Titular do cartão">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-12 control-label" for="card-number">Número do
                                                cartão</label>
                                            <div class="col-sm-12">
                                                <input required type="text" class="form-control" name="cardNumber"
                                                       id="card-number" placeholder="Número do cartão">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-12 control-label" for="expiry-month">Data de
                                                validade</label>
                                            <div class="col-sm-12">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <select required class="form-control" name="expiryMonth"
                                                                id="expiry-month">
                                                            <option>Mês</option>
                                                            <option value="01">Jan (01)</option>
                                                            <option value="02">Fev (02)</option>
                                                            <option value="03">Mar (03)</option>
                                                            <option value="04">Abr (04)</option>
                                                            <option value="05">Mai (05)</option>
                                                            <option value="06">Jun (06)</option>
                                                            <option value="07">Jul (07)</option>
                                                            <option value="08">Ago (08)</option>
                                                            <option value="09">Set (09)</option>
                                                            <option value="10">Out (10)</option>
                                                            <option value="11">Nov (11)</option>
                                                            <option value="12">Dez (12)</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <select required class="form-control" name="expiryYear">
                                                            <option value="18">2018</option>
                                                            <option value="19">2019</option>
                                                            <option value="20">2020</option>
                                                            <option value="21">2021</option>
                                                            <option value="22">2022</option>
                                                            <option value="23">2023</option>
                                                            <option value="23">2024</option>
                                                            <option value="23">2025</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-6 pr-0">
                                                <div class="form-group">
                                                    <label class="col-sm-12 control-label" for="cvv">CVV</label>
                                                    <div class="col-sm-12">
                                                        <input required type="text" class="form-control" name="cvv"
                                                               id="cvv" placeholder="Código de segurança">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-6 pl-0">
                                                <div class="form-group">
                                                    <div class="col-sm-12 mt-4 pt-2">
                                                        <button type="submit"
                                                                class="btn btn-outline-success btn-block">
                                                            Pagar
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                        <div class="col-sm-6 py-1">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-Title">
                                        Detalhes da compra
                                    </h4>
                                    <div class="pull-right"></div>
                                    <div class="form-group">
                                        <div class="col-sm-6 col-xs-6">
                                            <div class="col-xs-12">Inscrição para a corrida:</div>
                                            <div class="col-xs-12">
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-xs-6 text-right">
                                            <h6><span th:text="${race.name}"></span></h6>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <hr/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <div class="row mt-5">
                        <div class="col-sm-6 py-1">
                            <div class="container">
                                <form class="form-horizontal" role="form">
                                    <fieldset>
                                        <legend>Pagamento via boleto bancário</legend>
                                        <label class="col-sm-12 my-3 control-label"><b>
                                            Informações de endereço
                                        </b></label>
                                        <div class="form-group">
                                            <label class="col-sm-12 control-label" for="CEP">CEP</label>
                                            <div class="col-sm-12">
                                                <input required type="text" class="form-control" name="cep" id="CEP"
                                                       placeholder="CEP">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-12 control-label" for="rua">Rua</label>
                                            <div class="col-sm-12">
                                                <input required type="text" class="form-control" name="rua" id="rua"
                                                       placeholder="Rua">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 pr-0">
                                                <div class="form-group">
                                                    <label class="col-sm-12 control-label" for="number">Número</label>
                                                    <div class="col-sm-12">
                                                        <input required type="text" class="form-control" name="number"
                                                               id="number" placeholder="Número">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 pl-0">
                                                <div class="form-group">
                                                    <label class="col-sm-12 control-label"
                                                           for="aditional">Complemento</label>
                                                    <div class="col-sm-12">
                                                        <input required type="text" class="form-control"
                                                               name="complement" id="aditional"
                                                               placeholder="Complemento">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6 pr-0">
                                                <div class="form-group">
                                                    <label class="col-sm-12 control-label" for="state">Estado</label>
                                                    <div class="col-sm-12">
                                                        <input required type="text" class="form-control" name="state"
                                                               id="state" placeholder="Estado">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 pl-0">
                                                <div class="form-group">
                                                    <label class="col-sm-12 control-label" for="city">Cidade</label>
                                                    <div class="col-sm-12">
                                                        <input required type="text" class="form-control" name="city"
                                                               id="city" placeholder="Cidade">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-sm-12 px-5">
                                                <input type="submit" class="btn btn-outline-success btn-block"
                                                       value="Gerar boleto">
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                        <div class="col-sm-6 py-1">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-Title">
                                        Detalhes da compra
                                    </h4>
                                    <div class="pull-right"></div>

                                    <div class="form-group">
                                        <div class="col-sm-6 col-xs-6">
                                            <div class="col-xs-12">Nome do produto:</div>
                                            <div class="col-xs-12">
                                                <small>Quantidade:<span>1</span></small>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 col-xs-3 text-right">
                                            <h6><span>R$</span> 25.00</h6>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <hr/>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-6 col-xs-6">
                                            <div class="col-xs-12">Nome do produto:</div>
                                            <div class="col-xs-12">
                                                <small>Quantidade:<span>1</span></small>
                                            </div>
                                        </div>
                                        <div class="col-sm-3 col-xs-3 text-right">
                                            <h6><span>R$</span> 25.00</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </fieldset>
</form>
