<html lang="en" th:fragment="head">
<head>
    <meta charset="UTF-8">
    <title>Sistema de Corrida do Tonhão</title>
    <link rel="stylesheet" th:href="@{~/css/tachyons.min.css}"/>
    <link rel="stylesheet" th:href="@{~/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
          integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{~/css/tonhao.min.css}"/>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans|Montserrat" rel="stylesheet">
    <script th:src="@{~/js/jquery.min.js}"></script>
    <script th:src="@{~/js/angular.min.js}"></script>
    <script th:src="@{~/js/bootstrap.min.js}"></script>
    <script th:src="@{~/js/popper.min.js}"></script>
</head>
<body>