<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Kit</title>
</head>
<body>

<h1 th:text="${tittle}"> Operação </h1>
<form th:object="${kit}" method="post">
    <table border="1">
        <tr>
            <td>Nome:</td>
            <td><input th:value="${kit?.nome}" type="text" name="nome" th:disabled="${operation} == excluir"/></td>
        </tr>
        <tr>
            <td>Tipo:</td>
            <td><input th:value="${kit?.tipo}" type="text" name="tipo" th:disabled="${operation} == excluir"/></td>
        </tr>
        <tr>
            <td>Descrição:</td>
            <td><input th:value="${kit?.descricao}" type="text" name="descricao" th:disabled="${operation} == excluir"/></td>
        </tr>
        <tr>
            <td><input type="submit" th:value="${botaoOperacao}"/></td>
        </tr>
    </table>
</form>
</body>
</html>