<head th:replace="fragments/head:: head"></head>
<navbar th:replace="fragments/anon/navbar :: navbar"></navbar>
<center><h1>Lista de Kits</h1></center>

<table class="table table-striped" th:if="${!kits.isEmpty()}">
    <thead>
    <tr>
        <th scope="col">Nome</th>
        <th scope="col">Tipo</th>
        <th scope="col">Descrição</th>
        <th scope="col">Preço</th>
        <th scope="col">Editar</th>
        <th scope="col">Excluir</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="kit : ${kits}">
        <td th:text="${kit.name}">Nome</td>
        <td th:text="${kit.type}">Tipo</td>
        <td th:text="${kit.description}">Tipo</td>
        <td th:text="${kit.price}">Tipo</td>
        <td><a th:href="@{'/kit/edit/' + ${kit.id}}"><i class="fas fa-pen"></i></a></td>
        <td><a th:href="@{'/kit/delete/' + ${kit.id}}"><i class="fas fa-trash"></i></a></td>
    </tr>
    </tbody>
</table>
<div class="text-center mt2">
    <h2 th:unless="${!kits.isEmpty()}">Sem Kits</h2>
    <a class="text-center" th:href="@{'~/admin/kit/add/'}">
        <button type="button" class="btn btn-primary" th:href="@{'~/admin/kit/add/'}">Adicionar</button>
    </a>
    <a class="text-center" th:href="@{'~/'}">
        <button type="button" class="btn btn-secondary" th:href="@{'~/admin/kit/add/'}">Página Inicial</button>
    </a>
    <a class="text-center" th:href="@{'~/admin/kitReport/kit'}">
        <button type="button" class="btn btn-secondary" th:href="@{'~/admin/kitReport/kit'}">Gerar Relatório</button>
    </a>
</div>

<footer th:replace="fragments/footer :: footer"></footer>