<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Ranking</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" th:href="@{'~/'}">SCCR</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/administrator/">Administradores<span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a class="nav-link active" href="/runner/">Corredores<span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a class="nav-link active" href="/race/">Corridas<span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a class="nav-link active" href="/kit/">Kits<span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a class="nav-link active" href="/lot/">Lotes<span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a class="nav-link active" href="/product/">Produtos<span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a class="nav-link active" href="/ranking/">Rankings<span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a class="nav-link active" href="/route/">Percursos<span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a class="nav-link active" href="/rule/">Regras<span class="sr-only">(current)</span></a>
            </li>

    </div>
</nav>
<center><h1 th:text="${tittle}"> Operação </h1></center>
<center><form th:object="${ranking}" method="post">
    <table>
        <tr>
            <td>Nome:</td>
            <td><input th:value="${ranking?.nomeRanking}" type="text" name="nomeRanking" class="form-control" th:disabled="${operation} == excluir"/></td>
        </tr>
        <tr>
            <td>Organizador:</td>
            <td><input th:value="${ranking?.organizador}" type="text" name="organizador" class="form-control" th:disabled="${operation} == excluir"/></td>
        </tr>
        <tr>
            <td>Cidade:</td>
            <td><input th:value="${ranking?.cidade}" type="text" name="cidade" class="form-control" th:disabled="${operation} == excluir"/></td>
        </tr>
        <tr>
            <td>Estado:</td>
            <td><input th:value="${ranking?.estado}" type="text" name="estado" class="form-control" th:disabled="${operation} == excluir"/></td>
        </tr>
        <tr>
            <td>Região:</td>
            <td><input th:value="${ranking?.regiao}" type="text" name="regiao" class="form-control" th:disabled="${operation} == excluir"/></td>
        </tr>
        <tr>
            <td>Idade mínima:</td>
            <td><input th:value="${ranking?.idadeInicial}" type="text" name="idadeInicial" class="form-control" th:disabled="${operation} == excluir"/></td>
        </tr>
        <tr>
            <td>Idade máxima:</td>
            <td><input th:value="${ranking?.idadeFinal}" type="text" name="idadeFinal" class="form-control" th:disabled="${operation} == excluir"/></td>
        </tr>
        <tr>
            <td><input type="submit" th:value="${botaoOperacao}"/></td>
            <td><a href="/ranking/">Voltar</a></td>
        </tr>
    </table>
</form></center>
</body>
</html>