<head th:replace="fragments/head:: head"></head>
<navbar th:replace="fragments/anon/navbar :: navbar"></navbar>
<center><h1>Lista de Rankings</h1></center>

<table class="table table-striped" th:if="${!rankings.isEmpty()}">
    <thead>
    <tr>
        <th scope="col">Nome</th>
        <th scope="col">Organizador</th>
        <th scope="col">Cidade</th>
        <th scope="col">Ação</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="ranking : ${rankings}">
        <td th:text="${ranking.rankingName}">Nome</td>
        <td th:text="${ranking.organizer}">Organizador</td>
        <td th:text="${ranking.city}">Cidade</td>
        <td><a th:href="@{'/ranking/edit/' + ${ranking.id}}" >Editar</a> || <a th:href="@{'/ranking/delete/' + ${ranking.id}}">Excluir</a></td>
    </tr>
    </tbody>
</table>
<center>
    <h2 th:unless="${!rankings.isEmpty()}">Sem Rankings</h2>
    <a class="text-center" th:href="@{'~/ranking/add/'}"><button type="button" class="btn btn-primary" th:href="@{'~/ranking/add/'}">Adicionar</button></a>
    <a class="text-center" th:href="@{'~/'}"><button type="button" class="btn btn-secondary" th:href="@{'~/ranking/add/'}">Página Inicial</button></a></center>
</center>
<footer th:replace="fragments/footer :: footer"></footer>