<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Rankings</title>
</head>
<body>
<h1>Lista de Rankings</h1>

<table border="1" th:if="${!rankings.isEmpty()}">
    <tr><td>Nome</td><td>Organizador</td><td>Cidade</td><td colspan="2">Acao</td></tr>
    <tr th:each="ranking : ${rankings}">
        <td th:text="${ranking.nomeRanking}">Nome</td>
        <td th:text="${ranking.organizador}">Organizador</td>
        <td th:text="${ranking.cidade}">Cidade</td>
        <td><a th:href="@{'/ranking/edit/' + ${ranking.id}}" >Editar</a></td>
        <td><a th:href="@{'/ranking/delete/' + ${ranking.id}}">Excluir</a></td>
    </tr>
</table>
<h2 th:unless="${!rankings.isEmpty()}">Sem Rankings</h2>

<a th:href="@{'~/ranking/add/'}">Adicionar</a>
</body>
</html>