<head th:replace="fragments/head:: head"></head>
<navbar th:replace="fragments/anon/navbar :: navbar"></navbar>
<center><h1>Lista de Rankings</h1></center>

<table class="table table-striped" th:if="${!rankings.isEmpty()}">
    <thead>
    <tr>
        <th scope="col">Nome</th>
        <th scope="col">Organizador</th>
        <th scope="col">Cidade</th>
        <th scope="col">Ação</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="ranking : ${rankings}">
        <td th:text="${ranking.rankingName}">Nome</td>
        <td th:text="${ranking.organizer}">Organizador</td>
        <td th:text="${ranking.city}">Cidade</td>
        <td><a th:href="@{'~/admin/ranking/edit/' + ${ranking.id}}">Editar</a> || <a
                th:href="@{'~/admin/ranking/delete/' + ${ranking.id}}">Excluir</a></td>
    </tr>
    </tbody>
</table>
<div class="text-center">
    <h2 th:unless="${!rankings.isEmpty()}">Sem Rankings</h2>
    <a class="text-center" th:href="@{'~/admin/ranking/add/'}">
        <button type="button" class="btn btn-primary" th:href="@{'~/admin/ranking/add/'}">Adicionar</button>
    </a>
    <a class="text-center" th:href="@{'~/'}">
        <button type="button" class="btn btn-secondary">Página Inicial</button>
    </a>
    <a class="text-center" th:href="@{'~/admin/rankingReport/ranking'}">
        <button type="button" class="btn btn-secondary" th:href="@{'~/admin/rankingReport/ranking'}">Gerar Relatório</button>
    </a>
</div>

</center>
<footer th:replace="fragments/footer :: footer"></footer>