<head th:replace="fragments/head:: head"></head>
<navbar th:replace="fragments/anon/navbar :: navbar"></navbar>
<center><h1>Lista de Lotes</h1></center>

<table class="table table-striped" th:if="${!lots.isEmpty()}">
    <thead>
    <tr>
        <th scope="col">Data inicial</th>
        <th scope="col">Data final</th>
        <th scope="col">Desconto</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="lot : ${lots}">
        <td th:text="${lot.initialDate}">Data inicial</td>
        <td th:text="${lot.dataFinal}">Data final</td>
        <td th:text="${lot.discount}">Desconto</td>
        <td><a th:href="@{'/lot/edit/' + ${lot.id}}" >Editar</a> || <a th:href="@{'/lot/delete/' + ${lot.id}}">Excluir</a></td>
    </tr>
    </tbody>
</table>
<center>
    <h2 th:unless="${!lots.isEmpty()}">Sem Lotes</h2>
    <a class="text-center" th:href="@{'~/lot/add/'}"><button type="button" class="btn btn-primary" th:href="@{'~/lot/add/'}">Adicionar</button></a>
    <a class="text-center" th:href="@{'~/'}"><button type="button" class="btn btn-secondary" th:href="@{'~/lot/add/'}">Página Inicial</button></a></center>
</center>
<footer th:replace="fragments/footer :: footer"></footer>