<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Produtos</title>
</head>
<body>
<h1>Lista de Produtos</h1>

<table border="1" th:if="${!products.isEmpty()}">
    <tr><td>Nome</td><td>Descrição</td><td>Preço</td><td colspan="2">Acao</td></tr>
    <tr th:each="product : ${products}">
        <td th:text="${product.nome}">Nome</td>
        <td th:text="${product.descricao}">Descrição</td>
        <td th:text="${product.preco}">Preco</td>
        <td><a th:href="@{'/product/edit/' + ${product.id}}" >Editar</a></td>
        <td><a th:href="@{'/product/delete/' + ${product.id}}">Excluir</a></td>
    </tr>
</table>
<h2 th:unless="${!products.isEmpty()}">Sem Produtos</h2>

<a th:href="@{'~/product/add/'}">Adicionar</a>
</body>
</html>