<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Produto</title>
</head>
<body>

<h1 th:text="${tittle}"> Operação </h1>
<form th:object="${product}" method="post">
    <table border="1">
        <tr>
            <td>Nome:</td>
            <td><input th:value="${product?.nome}" type="text" name="nome" th:disabled="${operation} == excluir"/></td>
        </tr>
        <tr>
            <td>Descrição:</td>
            <td><input th:value="${product?.descricao}" type="text" name="descricao" th:disabled="${operation} == excluir"/></td>
        </tr>
        <tr>
            <td>Preço:</td>
            <td><input th:value="${product?.preco}" type="text" name="preco" th:disabled="${operation} == excluir"/></td>
        </tr>
        <tr>
            <td>Estoque:</td>
            <td><input th:value="${product?.estoque}" type="text" name="estoque" th:disabled="${operation} == excluir"/></td>
        </tr>
        <tr>
            <td>Informações adicionais:</td>
            <td><input th:value="${product?.infoAdicional}" type="text" name="infoAdicional" th:disabled="${operation} == excluir"/></td>
        </tr>
        <tr>
            <td><input type="submit" th:value="${botaoOperacao}"/></td>
        </tr>
    </table>
</form>
</body>
</html>